<!DOCTYPE html>
<html>
    <head>      
        <link rel="stylesheet" href="static/css/common.css">  
    </head>
    <body>
        <header>
            <nav id="gnb">로그인 | 회원가입</nav>
            <h1>KATIA SOFT</h1>
        </header>

        <nav id="lnb">
            <a href="index.html">홈</a>
            <a href="getPosts.html">게시판</a>
        </nav>       
        
        <main>
            <nav id="snb">Menu</nav>
            <section>
                <h2>게시물 추가</h2>
                <form action="getPosts.html">
                    <p><input type="text" placeholder="제목입력..."></p>
                    <p><input type="text" placeholder="내용입력..."></p>
                    <p><input type="submit" value="확인"></p>
                </form>
            </section>
        </main>


        <footer>Programmer E-mail : bss7068@naver.com</footer>
    </body>
</html>