<!DOCTYPE html>
<html>
    <head>      
        <link rel="stylesheet" href="static/css/common.css">  
    </head>
    <body>
        <header>
            <nav id="gnb">로그인 | 회원가입</nav>
            <h1>KATIA SOFT</h1>
        </header>

        <nav id="lnb">
            <a href="index.html">홈</a>
            <a href="getPosts.html">게시판</a>
        </nav>       
        
        <main>
            <nav id="snb">사이드메뉴</nav>
            <section>
                <h2>게시물 수정</h2>
                <form action="getPosts.html">
                    <p>제목입력 : <input type="text" name="subject" value="제목1입니다."></p>
                    <p>내용입력 : <input type="text" name="context" value="여기가 내용이 들어가는 장소입니다."></p>
                    <!--<p><input type="submit" value="확인"></p>-->
                    <p><button type="submit">확인1</button></p>
                </form>
            </section>
        </main>


        <footer>Programmer E-mail : bss7068@naver.com</footer>
    </body>
</html>